PORT=4000
# MONGODB_URI=mongodb://127.0.0.1:27017/kaiser_demo
MONGODB_URI=mongodb+srv://<username>:<password>@starkmedia.0mv8b.mongodb.net/kaiser_demo
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
# CLIENT_ORIGIN=http://localhost:3000
CLIENT_ORIGIN=https://kaiser-demo-backend.onrender.com/api
